html {
    font-family: 'Open Sans';
}

:root {
    --icons_color: rgb(143, 142, 142);
    --contacts_padding: 0.8rem;
}

ul,ol,menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

figure {
    margin: 0;
}

a {
    color: currentColor;
}

main{
    padding: 2rem 0;
    height: 100vh;
    background: rgb(55,201,69);
    background: linear-gradient(180deg, rgb(51, 177, 63) 15%, rgba(219,219,219,1) 15%);
}

main p {
    margin: 0;
}

.main_wrapper {
    height: calc(100vh - 4rem);
    background-color: lightgray;
}

.main_wrapper > div {
    padding: 0;
}

/* CONTACTS SECTION STYLE */
/* HEADER */

.header_contacts {
    padding: var(--contacts_padding);
}

.profile_pic img{
    height: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: contain;
    object-position: center;
    background-color: whitesmoke;
}

#profile_name {
    align-self: center;
    padding-left: 0.5rem;
    font-weight: 700;
}


.header_icons {
    gap: 8px;
}
.header_icons li {
    color: var(--icons_color);
}

/* NOTIFICATION SECTION STYLE */

.text_notification a {
    color: gray;
}

.text_notification {
    line-height: 1rem;
    padding-left: 0.5rem;
}

.notifications_wrapper {
    padding: var(--contacts_padding);
}

.notifications_wrapper {
    background-color: skyblue;
}

.icon_notification_wrapper {
    height: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: whitesmoke;
}

.icon_notification_wrapper i {
    color: skyblue;
}

/* SEARCH SECTION*/

.search {
    padding: var(--contacts_padding);
}

.search button {
    flex-grow: 1;
    color: var(--icons_color);
    border: solid 1px var(--icons_color);
    border-right: 0px;
    padding: 0.5rem 0;
}

.search input {
    flex-grow: 3;
    border: solid 1px var(--icons_color);
    padding-left: 0.5rem;
}

.search button,
.search input {
    background-color: whitesmoke;
    border-collapse: collapse;
}

/* CONTACT CARDS */