html {
    font-family: 'Open Sans';
}

:root {
    --icons_color: rgb(143, 142, 142);
    --contacts_padding: 0.8rem;
}

ul,ol,menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

figure {
    margin: 0;
}

a {
    color: currentColor;
}

main{
    padding: 2rem 0;
    height: 100vh;
    background: rgb(55,201,69);
    background: linear-gradient(180deg, #04a784 140px, rgba(219,219,219,1) 140px);
}

main p {
    margin: 0;
    padding: 0;
}

.main_wrapper {
    height: calc(100vh - 4rem);
    width: 100%;
    background-color: lightgray;
}

.main_wrapper > div {
    padding: 0;
}

/* CONTACTS SECTION STYLE */
.contact_wrapper {
    
}

/* HEADER */

.header_contacts {
    padding: var(--contacts_padding);
    border-right: solid 1px var(--icons_color);
}

.profile_pic img{
    height: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: contain;
    object-position: center;
    background-color: whitesmoke;
}

.profile_name {
    align-self: center;
    padding-left: 0.5rem;
    font-weight: 700;
    color: rgb(29, 29, 29);
}


.header_icons {
    gap: 8px;
}
.header_icons li {
    color: var(--icons_color);
}

/* NOTIFICATION SECTION STYLE */

.text_notification a {
    color: gray;
}

.text_notification {
    line-height: 1rem;
    padding-left: 0.5rem;
}

.notifications_wrapper {
    padding: var(--contacts_padding);
}

.notifications_wrapper {
    background-color: skyblue;
}

.icon_notification_wrapper {
    height: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: whitesmoke;
}

.icon_notification_wrapper i {
    color: skyblue;
}

/* SEARCH SECTION*/

.search {
    padding: var(--contacts_padding);
    border-right: solid 1px var(--icons_color);
}

.search button {
    flex-grow: 1;
    color: var(--icons_color);
    border: solid 1px var(--icons_color);
    border-right: 0px;
    padding: 0.5rem 0;
}

.search input {
    flex-grow: 3;
    border: solid 1px var(--icons_color);
    padding-left: 0.5rem;
}

.search button,
.search input {
    background-color: whitesmoke;
    border-collapse: collapse;
}

/* CONTACT CARDS */
.contact_cards_wrapper {
    border-right: solid 1px var(--icons_color);
    background-color: whitesmoke;
    overflow-y: scroll;
}


.contact_card{
    background-color: whitesmoke;
    color: rgb(172, 170, 170);
    border-top: solid rgb(183, 182, 182) 1px;
    padding: var(--contacts_padding);
}

.contact_card.active {
    background-color: lightgray;
}

.last_message__text {
    padding-left: 0.5rem;
}

/* CHAT COL STYLE */

.chat_wrapper {
    padding: 0;
}

.chat_header {
    padding: var(--contacts_padding);
}

.chat_header .last_access__text {
    line-height: 1rem;
    color: #acacac;
    padding-left: 0.5rem;
}

.chat_header .header_icons li {
    font-size: 1.4rem;
}
.chat_header .header_icons :nth-child(2){
    transform: rotate(-45deg);
}

.chat_screen {
    background-image: url(https://imgs.search.brave.com/iSkx-sj9N8reIHnbdfPnOvOEhsHGNfKrhEQHxbeT88o/rs:fit:800:600:1/g:ce/aHR0cHM6Ly9jZG4u/ZHJpYmJibGUuY29t/L3VzZXJzLzY5MTU2/L3NjcmVlbnNob3Rz/LzIzOTg2ODAvaWNx/X3B0dHJuMy5wbmc);
    background-attachment: fixed;
}


.chat_toolbar {
    background-color: lightgray;
    color: var(--icons_color);
    padding: var(--contacts_padding);
    gap: 1.2rem;
}

.chat_toolbar i {
    font-size: 1.4rem;
}

.chat_toolbar input {
    border: 0;
    border-radius: 5px;
    padding: 0.8rem 0rem 0.8rem 1rem;
}

.chat_toolbar input:focus-visible {
    border: 0;
    box-shadow: none;
}

/* CHAT DISPLAY STYLE */

.message_list {
    padding: 0.8rem 4rem;
    margin: 0;
}

.message {
    max-width: 75%;
    padding: 0.5rem 4rem 0.5rem 0.8rem;
    border-radius: 5px;
    position: relative;
    margin-bottom: 0.6rem;
}

.message_info i {
    display: none;
    position: absolute;
    height: 100%;
    z-index: 2;
    color: var(--icons_color);
    top: 0px;
    right: 5px;
    cursor: pointer;
    
}

.received .message_info i{
    background: radial-gradient(circle, whitesmoke 22%, rgba(219,219,219,0) 73%);
}

.sent .message_info i{
    background: radial-gradient(circle, rgba(153,240,153,1) 22%, rgba(219,219,219,0) 73%);
}

.message:hover .message_info i {
    
    display: block;
    /* display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    position: absolute;
    right: 5px;
    transform: translateX(-10%);
    cursor: pointer; */
}

.message_info .info_list {
    position: absolute;
    z-index: 99999;
    right: 5px;
    top: 20px;
    background-color: #eaeaea;
    color: rgb(29, 28, 28);
    padding: 0.5rem;
}

.message_info .info_list li {
    border-top: solid lightgrey 1px;
    padding: 8px 0;
    cursor: pointer;
}

.message_info .info_list li:first-child {
    border-top: 0px;
}
.sent {
    align-self: flex-end;
    background-color: rgb(153, 240, 153);
}

.received {
    align-self: flex-start;
    background-color: whitesmoke;
}

.chat_screen .time {
    color: rgb(198, 198, 198);
    font-size: 0.8rem;
    position: absolute;
    bottom: 2px;
    right: 5px;
}